<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/group-selector.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<script defer src="scripts/main.js" ></script>

</head>
<body>



<div class="sidenav">
    <a href="#home">Home</a>
    <a href="#profile">My Profile</a>
    <a href="#notifications">Notifications</a>
    <a href="\chat">Chats</a>

     <button class="dropdown-btn2" id = 'dropdown-buttonAllGroups' > All Groups
      <i class="fa fa-caret-down"></i>
    </button> 
    <div class="dropdown-container" id= 'dropdown-containerAllGroups'> 
      <input type="text" placeholder="Search All Groups" id="inputGroupSearch" onkeyup="entireGroupSearch()">
  </div>  
   

    <!-- Using a basic option selection for filling in from a static list -->
    <!-- <select id="studyGroup">
        <option>Study Groups</option>
    </select>  -->

    <!-- Using the dropdown functionality to go to different groups -->
    < <button class="dropdown-btn" id = 'dropdown-buttonID' > My Study Groups
      <i class="fa fa-caret-down"></i>
    </button> > 
    <div class="dropdown-container" id= 'dropdown-containerID'> 
        <input type="text" placeholder="Search My Groups" id="inputValue" onkeyup="groupSearch()">
    </div>  

  <!--HardCoded group  Code -->
    <!-- <button class="dropdown-btn" > Study Groups
        <i class="fa fa-caret-down"></i>
      </button> >
   
     <div class="dropdown-container"> 
      <<a class="dropdown-item" href="/big-data">Big Data</a>
      <a class="dropdown-item" href="#">Software 3</a>
      <a  class="dropdown-item" href="#">Sociology</a>
    </div>    -->



  </div>
  
  <div class="main">
    <h1>Welcome</h1>    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, obcaecati quaerat officia ducimus numquam cumque iure blanditiis porro reiciendis commodi dignissimos sit repellendus qui reprehenderit accusamus earum repudiandae optio voluptatum.</p>
  </div>


</body>
</html>
