<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/group-selector.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<script defer src="scripts/home-page.js" ></script>

</head>
<body>



<div class="sidenav">
 
    <a href="/profile">My Profile</a>
    <a href="#invites">View Invites</a>
    <a href="#createGroup"> Create Group</a>
    <a href="/covid-screening" > COVID Screening </a>

     <button class="dropdown-btn2" id = 'dropdown-buttonAllGroups' > Join Groups
      <i class="fa fa-caret-down"></i>
    </button> 
    <div class="dropdown-container" id= 'dropdown-containerAllGroups'> 
      <input type="text" placeholder="Search All Groups" id="inputGroupSearch" onkeyup="entireGroupSearch()">
  </div>  
   



    <!-- Using the dropdown functionality to go to different groups -->
    < <button class="dropdown-btn" id = 'dropdown-buttonID' > My Groups
      <i class="fa fa-caret-down"></i>
    </button> > 
    <div class="dropdown-container" id= 'dropdown-containerID'> 
        <input type="text" placeholder="Search My Groups" id="inputValue" onkeyup="groupSearch()">
    </div>  


  </div>
  
  <div class="main">
    <h1>Welcome</h1>    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, obcaecati quaerat officia ducimus numquam cumque iure blanditiis porro reiciendis commodi dignissimos sit repellendus qui reprehenderit accusamus earum repudiandae optio voluptatum.</p>
  </div>


</body>
</html>
