<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create empty study group</title>
    <link rel="stylesheet" href="/css/creategroup.css">
</head>
<body>
    <label>NEW GROUP:</label>
    <br>
    <main>

        <label><strong>Create A New Group:</strong></label>
        <br>
        <form action='#' id="createForm" onsubmit="updateGroupList();return false">
            <div class="form-control">
                <label for="groupName">Group Name (max 30 characters):</label>
                <input type="text" name="groupName" id="groupName" placeholder="Enter New Study Group..." onfocus=this.value='' required />
                <br>
                <!-- The invite feature may be friendlier with a search list -->
                <select id="inviteList" multiple></select>
            </div>
            <button type="submit" id="create-btn" class="btn btn-secondary" >Create</button>
        </form>

        <br><br><br>

        <div>
            <label for="inviteList" >Invite (Hold Ctrl to select more than one):</label> 
                <br>
                <input type="text" placeholder="Search for User" id="userSearch" onkeyup="userSearch(this.value)" onfocus="this.value=''">
        </div>

        <table id="table">
            <thead>
                <th>Group Name</th>
                <th>Members</th>
                <th>Admin</th>
                <th>Date Added</th>
                <th>Delete Group</th> <!--The user can 'Delete' (not functional) groups they are admin of -->
                <th>Join Group</th> 
            </thead>
            <tbody></tbody>
        </table>


    </main>

    <!-- Query String Parser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
    integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

    <!-- Create Group Script -->
    <script src="scripts/create-join-group.js"></script>
    
</body>
</html>