<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div id="welcome-div">

    </div>
    <div>
        <ul>
            <li> <a href="choose-group"> Search group</a> </li>
            <li> <a href="intermediate-group"> Create and join group </a> </li>
            <li> <a href="profile"> Memberships home </a> </li>
            <li> <a href="intermediate-chat"> Chat </a> </li>
            <li> <a href="invites"> View your invites </a> </li>
        </ul>
    </div>
    <div id="logout">
        <form action='/logout' method="POST">
            <button type="submit" id="logout-btn"> Log out </button>
        </form>
    </div>
    <script type="module" src="scripts/dashboard.js"></script>
</body>

</html>