<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join A Group</title>
    <link rel="stylesheet" href="/css/creategroup.css">
</head>
<body>
    <main>
        <label>JOIN GROUP:</label>
        
        <br><br>
        <div id="group-clicked">

        </div>

        <br><br>
        
        <table id="table">
            <thead>
                <th>Group Name</th>
                <th>Members</th>
                <th>Admin</th>
                <th>Date Added</th>
                <th>Join Group</th>
            </thead>
            <tbody></tbody>
        </table>

    </main>
    <!-- Query String Parser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
    integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Join Group Script -->
    <script src="scripts/join-group.js"></script>
</body>
</html>